html, body {
  background-color: $xdsGreyBlue;
  font-family: Poppins;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.info_box {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: $xdsAccentBorder;
  border-radius: 22px;
  background-color: $xdsVeryDarkBg;
  padding: 53px;
  width: 80%;
}