.header {
  &.about {
    min-height: 180px;
    background: #16272f;
  }
}
.body {
  &.about {
    background: #1b2c35;
  }
}
.page_description {
  //   padding-top: 75px;
  p {
    margin-top: 35px;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;
    color: #f8f8f8;
    opacity: 0.6;
  }
}
.page_statistic-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.page_statistic-block {
  margin-top: 55px;
  background: #16272f;
  border-radius: 22px;
  min-height: 325px;
  padding: 50px 40px;
}
.page_statistic-block1 {
  width: 60%;
  max-width: 640px;
}
.page_statistic-block2 {
  width: 40%;
  max-width: 455px;
  .statistic_block-item {
    width: 50%;
  }
}
.statistic_block-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
.statistic_block-item {
  width: 25%;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  span {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    // line-height: 52px;
    letter-spacing: -0.04em;
    color: #3ec6c1;
  }
  p {
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    // line-height: 52px;
    letter-spacing: -0.04em;
    color: #fffefe;
    opacity: 0.5;
    margin: 0;
  }
}
.page_graph-wrap {
  margin-top: 55px;
  .pools-title-descr {
    margin-top: 30px;
  }
}
.page_graph-banner {
  width: 100%;
  img {
    width: 105%;
    margin-left: -55px;
    margin-top: -115px;
  }
  &.page_graph-banner2 {
    margin-top: 55px;
    width: 100%;
    img {
      width: 100%;
      margin-left: 0px;
      margin-top: 0px;
    }
  }
}
.page_graph-disc {
  margin-top: 66px;
  margin-bottom: 100px;
  padding: 33px;
  width: 100%;
  background: #16272f;
  border: 2px solid #3ec6c1;
  border-radius: 22px;
  .pools-title-descr{
      margin-top: 20px;
      line-height: 35px;
      max-width: 900px;
  }
}
