.call_to_action_container {
  background-color: $xdsDarkGreyBlue;
}

.call_to_action {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 15px 100px 15px;
  &.top {
    background: url(../img/bg1.png) no-repeat;
    background-size: cover;
  }
  &.btm {
    background: url(../img/bg2.png) no-repeat;
    background-size: cover;
    @media (max-width: $screen-xlg) {
      padding-top: 100px;
    }
    @media (max-width: $screen-md) {
      padding-top: 0px;
      padding-bottom: 20px;
    }
  }
}
.large_title {
  max-width: 802px;
  margin-top: 117px;
  @media (max-width: $screen-xlg) {
    margin-top: 20px;
  }
  h1 {
    margin: 0;
    font-family: Poppins;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: -0.04em;
    text-align: center;
    color: #ffffff;
    @media (max-width: $screen-md) {
      font-size: 40px;
    }
    @media (max-width: $screen-sm) {
      line-height: 50px;
    }
    .highlighted_title_text {
      color: $xdsAccent;
    }
  }
  p {
    margin: 0 auto;
    margin-top: 25px;
    max-width: 533px;
    font-family: Poppins;
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;
    color: #ffffff;
  }
}
.action_call_btns {
  align-self: center;
  margin-top: 25px;
  .btns_container {
    width: 500px;
    display: flex;
    justify-content: space-around;
    @media (max-width: $screen-md) {
      flex-direction: column;
      align-items: center;
    }
    a {
      @media(max-width: $screen-md) {
        width: 80%;
      }
      @media(max-width: $screen-sm) {
        width: 70%;
      }
    }
    button {
      width: 227px;
      height: 68px;
      color: #ffffff;
      font-family: Poppins;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: 17px;
      letter-spacing: -0.02em;
      @media (max-width: $screen-md) {
        width: 100%;
        margin-top: 10px;
      }
    }
  }
}