.xdaistarter_apply {
  font-family: Poppins;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-bottom: 30px;
  font-style: normal;
  @media (max-width: $screen-md) {
    flex-direction: column;
  }
}
.apply_main_header {
  height: 111px;
  background: $xdsVeryDarkBg;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
  @media (min-width: $screen-md) {
    display: flex;
  }
  &.top {
    display: none;
    @media (max-width: $screen-md) {
      display: flex;
    }
  }
  h2 {
    @extend .medium_title;
    font-size: 2.5em;
    font-weight: 400;
    span {
      color: #497c94;
    }
  }
}
.aside {
  width: 45%;
  height: 100%;
  background: $xdsVeryDarkBg;
  border: 2px solid rgba(96, 96, 97, 0.3);
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  @media (max-width: $screen-md) {
    width: 100%;
  }
  .aside_header {
    margin-bottom: 50px;
    .aside_decor {
      position: absolute;
      top: 0;
      left: 0;
    }
    .medium_title {
      font-size: 2.5em;
      margin-top: 65px;
    }
    .medium_descriptor {
      margin-top: 2%;
      font-size: 1em;
    }
  }
  ul {
    padding: 0px;
  }
  .medium_title, .medium_descriptor {
    padding: 0px 40px 0px 40px;
    cursor: default;
  }
}
.aside_btns_wrap {
  margin-bottom: 0;
  li{
    list-style: none;
    a {
      text-decoration: none;
    }
  }
}
.aside_btn {
  padding: 20px 0px;
  border-top: 2px solid rgba(96, 96, 97, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: $transition;
  &:hover {
    background: $xdsAccent;
  }
}
.apply_main {
  width: 100%;
  .apply_form {
    .applicant_info_box {
      padding: 20px 50px;
      border-bottom: 1px solid $xdsVeryDarkBg;
      p {
        @extend .medium_descriptor;
        margin-top: 20px;
        font-size: 1em;
      }
    }
    .application_inputs {
      @extend .applicant_info_box;
      .labeled_input {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 5% 0%;
        @media (max-width: $screen-xlg) {
          flex-direction: column;
          align-items: flex-start;
        }
        .label_container {
          width: 18%;
          p {
            text-align: left;
          }
        }
        label {
          @extend .medium_descriptor;
          width: 18%;
          @media (max-width: $screen-xlg) {
            width: 100%;
          }
          color: #fff;
          opacity: 1;
        }
      }
      input {
        height: 100%;
        width: 80%;
        padding: 7px 10px;
        background: $xdsGreyBlue;
        border: 1px solid #606061;
        box-sizing: border-box;
        border-radius: 10px;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 25px;
        color: #d3d3d3;
        outline: none;
        cursor: text;
        @media (max-width: $screen-xlg) {
          margin-top: 2%;
        }
      }
      textarea {
        width: 80%;
        height: 154px;
        padding: 10px;
        background: $xdsGreyBlue;
        border: 1px solid #606061;
        box-sizing: border-box;
        border-radius: 10px;
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 25px;
        color: #979797;
        outline: none;
        @media (max-width: $screen-xlg) {
          margin-top: 2%;
        }
      }
      p {
        @extend .medium_descriptor;
        text-align: center;
      }
      .column_inputs {
        margin-top: 20px;
        .column_input {
          @extend .labeled_input;
          flex-direction: column;
          align-items: flex-start;
          margin: 0;
          .medium_descriptor {
            opacity: 1;
            padding: 20px 0px;
            margin: 0;
            color: #fff;
          }
          input {
            width: 100%;
          }
        }
      }
      .form_btn {
        @extend .btn;
        margin-top: 28px;
        padding: 15px 0px;
        width: 100%;
        color: #ffffff;
      }
    }
  }
}
