.xdaistarter_apply {
  font-family: Poppins;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-bottom: 30px;
  font-style: normal;
}
.apply_title {
  font-size: 2em;
  font-weight: 600;
  letter-spacing: -0.04em;
  line-height: 52px;
  color: #ffffff;
  margin: 0;
}
.apply_descriptor {
  font-size: 1.2em;
  font-weight: 500;
  color: #fffefe;
  opacity: 0.6;
  line-height: 25px;
  margin: 0;
}
.aside {
  width: 40%;
  height: 100%;
  background: $xdsVeryDarkBg;
  border: 2px solid rgba(96, 96, 97, 0.3);
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  .aside_header {
    margin-bottom: 50px;
    .aside_decor {
      position: absolute;
      top: 0;
      left: 0;
    }
    .apply_title {
      margin-top: 65px;
    }
  }
  ul {
    padding: 0px;
  }
  .apply_title, .apply_descriptor {
    padding: 0px 40px 0px 40px;
    cursor: default;
  }
}
.aside_btns_wrap {
  margin-bottom: 0;
  li{
    list-style: none;
    a {
      text-decoration: none;
    }
  }
}
.aside_btn {
  padding: 20px 0px;
  border-top: 2px solid rgba(96, 96, 97, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: $transition;
  &:hover {
    background: $xdsAccent;
  }
}

.apply_main {
  width: 100%;
  .apply_main_header {
    height: 111px;
    background: $xdsVeryDarkBg;
    display: flex;
    align-items: center;
    justify-content: center;
    h2 {
      @extend .apply_title;
      font-size: 2.5em;
      font-weight: 400;
      span {
        color: #497c94;
      }
    }
  }
  .apply_form {
    .applicant_info_box {
      padding: 40px 50px;
      border-bottom: 1px solid $xdsVeryDarkBg;
      .apply_descriptor {
        margin-top: 20px;
      }
    }
    .applicant_info {
      @extend .applicant_info_box;
      display: flex;
      flex-direction: row;
      align-items: center;
      h4 {
        @extend .apply_title;
        font-weight: 500;
      }
      span {
        @extend .apply_descriptor;
        margin: 0px 0px 0px 2%;
        color: #979797;
      }
    }
    .application_inputs {
      @extend .applicant_info_box;
      .labeled_input {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 5% 0%;
        label {
          @extend .apply_descriptor;
          width: 18%;
          color: #fff;
          opacity: 1;
        }
      }
      input {
        width: 80%;
        height: 62px;
        padding: 0 20px;
        background: $xdsGreyBlue;
        border: 1px solid #606061;
        box-sizing: border-box;
        border-radius: 10px;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 25px;
        color: #979797;
        outline: none;
        cursor: text;
      }
      textarea {
        width: 80%;
        height: 154px;
        padding: 0 20px;
        background: $xdsGreyBlue;
        border: 1px solid #606061;
        box-sizing: border-box;
        border-radius: 10px;
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 25px;
        color: #979797;
        outline: none;
      }
      p {
        @extend .apply_descriptor;
        text-align: center;
      }
      .column_inputs {
        margin-top: 20px;
        .column_input {
          @extend .labeled_input;
          flex-direction: column;
          align-items: flex-start;
          margin: 0;
          .apply_descriptor {
            opacity: 1;
            padding: 20px 0px;
            margin: 0;
            color: #fff;
          }
          input {
            width: 100%;
          }
          .form_date {
            width: 100%;
            display: flex;
            justify-content: space-between;
            .date_input {
              width: 30%;
            }
            /* Chrome, Safari, Edge, Opera */
            input::-webkit-inner-spin-button {
              -webkit-appearance: none;
              margin: 0;
            }
            /* Firefox */
            input[type=number] {
              -moz-appearance: textfield;
            }
          }
        }
      }
    }
  }
}
.input_select {
  display: flex;
  align-items: center;
  width: 100%;
  height: 62px;
  padding: 0 20px;
  background: $xdsGreyBlue;
  border: 1px solid #606061;
  box-sizing: border-box;
  border-radius: 10px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: #979797;
  &::after {
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    height: 10px;
    width: 10px;
    right: 20px;
  }
  .list {
    background: $xdsGreyBlue;
    border: 1px solid #606061;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
    li {
      background: $xdsGreyBlue !important;
      border-top: 1px solid #606061;
      padding: 5% 10%;
      font-family: Poppins;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 25px;
      color: #979797;
      display: flex;
      align-items: center;
      &:first-child {
        border-top: none;
      }
    }
  }
}
.form_btn-wrap {
  margin-top: 28px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  .btn {
    width: 227px;
    height: 68px;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: -0.02em;
    color: #ffffff;
  }
}
