.detail_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 15px;
  .detail_section {
    @extend .info_box;
    @media (max-width: $screen-sm) {
      padding: 20px;
    }
    .detail_section_title {
      @extend .pool_block_title;
      align-self: flex-start;
      h4 {
        padding: 0px 0px 20px 25px;
      }
    }
    .detail_title {
      font-size: 0.7em;
      font-weight: 300;
      color: #fffefe;
      margin-bottom: 10px;
      opacity: 0.5;
      @media (max-width: $screen-sm) {
        font-size: 0.6em;
      }
    }
    .detail_value {
      color: $xdsAccent;
      font-weight: 700;
      font-size: 1.1em;
      margin: 0px;
      @media (max-width: $screen-sm) {
        font-size: 1em;
      }
    }
    h4 {
      font-size: 1.2em;
      color: #fffefe;
      font-weight: 600;
    }
    .light_border_right {
      border-right: 1px solid rgba(223,248,247,0.1);
      @media (max-width: $screen-sm) {
        border-right: none;
        border-bottom: 1px solid rgba(223,248,247,0.1);
      }
    }
    button {
      white-space: nowrap;
      width: 127px;
      height: 52px;
      color: #ffffff;
      font-size: 0.8em;
      font-weight: 500;
      font-style: normal;
      letter-spacing: -4%;
    }
    .dull_button {
      background-color: #3fc6c177;
      box-shadow: 0px 5px 10px rgba(62, 198, 193, 0.1);
    }
    .dark_button {
      background-color: #253438;
      box-shadow: 0px 5px 10px rgba(62, 198, 193, 0.1);
    }
  }
  .pool_detail {
    .pool_detail_top {
      display: flex;
      justify-content: space-between;
      width: 100%;
      .pool_detail_top_left {
        display: flex;
        img {
          width: 53px;
          height: 53px;
        }
        .pool_detail_title {
          padding: 0px 30px;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          h4 {
            margin: 0px;
          }
          p {
            font-weight: 400;
            font-size: 0.65em;
            color: $xdsAccent;
          }
        }
      }
    }
    .pool_detail_middle {
      display: grid;
      margin-top: 40px;
      width: 100%;
      border-radius: 22px;
      overflow: hidden;
      grid-template-columns: 25% 25% 25% 25%;
      grid-template-rows: 50% 50%;
      @media (max-width: $screen-sm) {
        margin-top: 20px;
      }
      .pool_detail_info_block {
        padding: 10% 20%;
        background-color: $xdsGreyBlue;
      }
      .light_border_bottom {
        border-bottom: 1px solid rgba(223,248,247,0.1);
      }
    }
    .pool_detail_bottom {
      width: 100%;
      margin-top: 41px;
      @media (max-width: $screen-sm) {
        margin-top: 20px;
      }
      .pool_detail_progress {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
      }
      .progress_bar {
        margin-top: 35px;
        color: $xdsAccent;
        @media (max-width: $screen-sm) {
          margin-top: 17px;
        }
        .progress_bar-wrap {
          width: 100%;
          height: 1.2em;
          background: #122026;
          border-radius: 100px;
          position: relative;
          .progress_bar-green2 {
            position: absolute;
            width: 35%;
            height: 100%;
            top: 0;
            left: 0;
            background: $xdsAccent;
            border-radius: 100px;
          }
        }
      }
      .progress_percent_fraction {
        display: flex;
        justify-content: space-between;
        padding-top: 20px;        
      }
    }
  }
  .icon_circle {
    border: 1px solid $xdsBorderColor;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
  }
  .icon_circle.lock {
    background: $xdsVeryDarkBg;
    width: 70px;
    height: 70px;
    display: block;
    .lock {
      position: relative;
      top: 12px;
    }
  }
  .your_investment {
    .detail_section_title {
      h4 {
        padding: 0px 0px 20px 5px;
      }
    }
    .investment_detail_middle {
      display: grid;
      grid-template-columns: 25% 25% 25% 25%;
      @media (max-width: $screen-md) {
        grid-template-columns: 100%;
      }
      width: 100%;
      border-radius: 22px;
      overflow: hidden;
      margin-top: 20px;
      .investment_detail_info_block {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        padding: 20px;
        height: 205px;
        background-color: $xdsGreyBlue;
        .investment_detail_text {
          height: 70px;
        }
      }
    }
  }
  .important_links {
    .important_links_blocks {
      display: grid;
      width: 100%;
      grid-template-columns: 33% 34% 33%;
      grid-template-rows: 50% 50%;
      @media (max-width: $screen-md) {
        grid-template-columns: 50% 50%;
        grid-template-rows: 33% 34% 33%;
      }
      .important_link_block {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        background-color: $xdsGreyBlue;
        border-radius: 22px;
        margin: 5%;
        height: 8vw;
        padding: 10px;
        overflow: hidden;
        a {
          font-size: 0.8em;
          color: $xdsAccent;
          text-decoration: none;
          width: 100%;
          word-wrap: break-word;
          text-align: center;
        }
      }
      .connect_links {
        align-items: flex-start;
        background: none;
        .connect_link_icons {
          width: 100%;
          display: flex;
          justify-content: space-around;
          color: white;
          .icon {
            margin: auto;
          }
          .email {
            position: relative;
            right: 2px;
          }
        }
      }
    }
  }
}