.detail_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  .pool_detail {
    .detail_title {
      font-size: 0.6em;
      font-weight: 300;
      color: #fffefe;
      margin-bottom: 10px;
      opacity: 0.5;
    }
    .detail_value {
      color: $xdsAccent;
      font-weight: 700;
      font-size: 1.1em;
    }
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: $xdsAccentBorder;
    border-radius: 22px;
    background-color: $xdsVeryDarkBg;
    padding: 53px;
    .pool_detail_top {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 0px 0px 40px 10px;
      .pool_detail_top_left {
        display: flex;
      }
      .pool_detail_title {
        padding: 0px 30px;
        h4 {
          color: #fffefe;
          font-weight: 600;
        }
        p {
          font-weight: 400;
          font-size: 0.65em;
          color: $xdsAccent;
        }
      }
      button {
        white-space: nowrap;
        width: 127px;
        height: 52px;
        color: #ffffff;
        font-size: 0.8em;
        font-weight: 500;
        font-style: normal;
        // line-height: 51.7px;
        letter-spacing: -4%;
      }
    }
    .pool_detail_middle {
      display: flex;
      flex-flow: row wrap;
      width: 800px;
      border-radius: 22px;
      overflow: hidden;
      .pool_detail_info_block {
        padding: 35px;
        width: 200px;
        background-color: $xdsGreyBlue;
      }
      .light_border_bottom {
        border-bottom: 1px solid rgba(223,248,247,0.1);
      }
      .light_border_right {
        border-right: 1px solid rgba(223,248,247,0.1);
      }
    }
    .pool_detail_bottom {
      width: 100%;
      margin-top: 41px;
      .pool_detail_progress {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
      }
      .progress_bar {
        margin-top: 35px;
        color: $xdsAccent;
        .progress_bar-wrap {
          width: 100%;
          height: 1.2em;
          background: #122026;
          border-radius: 100px;
          position: relative;
          .progress_bar-green2 {
            position: absolute;
            width: 35%;
            height: 100%;
            top: 0;
            left: 0;
            background: $xdsAccent;
            border-radius: 100px;
          }
        }
      }
      .progress_percent_fraction {
        display: flex;
        justify-content: space-between;
        padding-top: 20px;        
      }
    }
  }
}