// containing div ('info_box') is a flex container
.disclaimer {
  @extend .info_box;
  align-items: flex-start;
  padding: 33px;
  margin-top: 66px;
  .medium_title {
    margin: 0 !important;
  }
  .medium_descriptor {
    line-height: 2.2em;
    font-size: 1em;
  }
}
