.header_container {
  background-color: $xdsDarkGreyBlue;
}
.header_background {
  background: url(../img/headerBg.png) no-repeat;
}
.header_objects {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 100px;
  width: 80%;
  @media (max-width: $screen-md) {
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 0;
    width: 100%;
  }
}
.header_logo {
  &:hover {
    cursor: pointer;
  }
  display: flex;
  height: 120px;
  align-items: center;
  img {
    position: relative;
    bottom: 4px;
  }
}
.header_links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 460px;
  width: 100%;
  @media (max-width: $screen-sm) {
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 15px;
  }
  button {
    cursor: default;
    white-space: nowrap;
    padding: 0px 23px;
    height: 41px;
    background: #ffffff;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.11);
    border-radius: 100px;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0em;
    text-align: center;
    color: #000;
    transition: $transition;
    &:hover {
      background: $xdsAccent;
    }
  }
  a {
    cursor: default;
    white-space: nowrap;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: -0.02em;
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
    transition: $transition;
    border-radius: 100px;
    &:hover {
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.11);
      background: $xdsAccent;
    }
    @media (max-width: $screen-sm) {
      margin: 10px 5px;
    }
  }
}
