.litepaper_page {
  background-color: $xdsGreyBlue;
  .medium_title {
    font-size: 2.5em;
    margin-top: 40px;
    @media (max-width: $screen-md) {
      font-size: 1.9em;
      margin: 0; 
    }
  }
  .medium_descriptor {
    font-size: 1em;
    margin-top: 25px;
  }
  .diagram {
    margin-top: 50px;
    img {
      width: 100%;
    }
  }
}
.litepaper_main {
  margin: 0px 25px 0px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.large_title.litepaper {
  max-width: 968px;
  margin-right: auto;
  margin-left: auto;
}
.page_description {
  @extend .xds_section;
  max-width: 80%;
  padding-top: 50px;
  p {
    margin-top: 35px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;
    color: #f8f8f8;
    opacity: 0.6;
  }
}
.row_md_column {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  @media (max-width: $screen-md) {
    flex-direction: column;
  }
}
.statistics_block {
  .section_title {
    margin: 0;
  }
  margin-top: 55px;
  background: $xdsVeryDarkBg;
  border-radius: $xdsBorderRadius;
  padding: 50px 40px;
  @media (max-width: $screen-md) {
    margin-top: 10px;
    padding: 10px 10px 10px 10px;
    width: 100%;
  }
  .block_item {
    margin-top: 25px;
    span {
      display: block;
      font-style: normal;
      font-weight: 700;
      font-size: 30px;
      letter-spacing: -0.04em;
      color: $xdsAccent;
      @media (max-width: $screen-md) {
        font-size: 1.2em;
      }
    }
    p {
      font-size: 15px;
      font-weight: 500;
      letter-spacing: -0.04em;
      color: #fffefe;
      opacity: 0.5;
      margin: 0;
      @media (max-width: $screen-md) {
        font-size: 11px;
        font-weight: 600;
      }
    }
  }
}
.statistics_block.left_block {
  @media (min-width: $screen-md) {
    margin-right: 32px;
    max-width: 608px;
  }
  .block_content {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 50% 50%;
  }
}
.statistics_block.right_block {
  @media (min-width: $screen-md) {
    max-width: 455px;
  }
  .block_content {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
  }
}
